@media screen and (min-width: 320px){
    p,ul{
        margin: 0;
        padding: 0;
    }
    .front_end_skills{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .Ch1{
        height: 150px;
        background: #252525;
        display: flex;
        align-items: center;
    }
    .Th1{
        color: #FFF;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 37px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        margin-left: 10px;
    }
    .Cskills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills1{
        margin-left: 20px;
    }
    .subtitle{
        color: #FFF;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
    }
    li{
       list-style: none; 
       position: relative;
    }
    .liSkill1{
        margin-top: 20px;
        margin-left: 40px;
    }
    .liSkill1::before {
        content: ''; 
        position: absolute;
        left: -55px;
        top: -17%;
        transform: translateY(25%);
        width: 50px; 
        height: 50px; 
        background-image: url('../images/icons8-github.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    .liSkill2{
        margin-top: 20px;
        margin-left: 40px;
    }
    .liSkill2::before {
        content: ''; 
        position: absolute;
        left: -55px;
        top: -17%;
        transform: translateY(25%);
        width: 50px; 
        height: 50px; 
        background-image:  url('../images/icons8-macbook-50.png');
        background-repeat: no-repeat;
        background-position: center center;
      }
    .liSkill3{
        margin-top: 20px;
        margin-left: 40px;

    }
    .liSkill3::before {
        content: ''; 
        position: absolute;
        left: -55px;
        top: -17%;
        transform: translateY(25%);
        width: 50px; 
        height: 50px; 
        background-image: url('../images/icons8-library-50.png');
        background-repeat: no-repeat;
        background-position: center center;
      }
    .titleWhatIDo{
        color: #FFF;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        margin: 0;
    }
    .loremWhatIDo{
        color: rgba(255, 255, 255, 0.70);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        min-width: 260px;
        max-width: 420px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .skills2{
        margin-left: 20px;
    }
    .liLangueage{
        margin-top: 28px;
    }
    .divLangueageUse{
        min-width: 260px;
        max-width: 620px;
        display: flex;
        justify-content: space-between;
    }
    .titleLanguage{
        color: #FFF;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        margin: 0;
    }
    .pProsent{
        margin-top: 2px;
        color: rgba(255, 255, 255, 0.70);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }
    .lineBacround{
        margin-left: -1px;
        width: 260px;
        height: 15px;
        border-radius: 8px;
        background: #444;
        padding-top: 3px;
        padding-left: 3px;
    }
    .lineProsent1{
        width: 98.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    }
    .lineProsent2{
        width: 83.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    }
    .lineProsent3{
        width: 78.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    }
    .lineProsent4{
        width: 73.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    }
    .lineProsent5{
        width: 73.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    }
    .lineProsent6{
        width: 48.5%;
        height: 9px;
        border-radius: 8px;
        background: #007CED;
        padding-top: 2px;
        transform-origin: left center;
        animation: loading 5s ; 
    } 
    @keyframes loading {
        0% {
            transform: scaleX(0);
        }

        100% {
            transform: scaleX(1);
        }
    } 
    .lineProsentOnShow{
        transform-origin: right center;
        animation: OnLoading 5s ; 
    }
    @keyframes OnLoading {
        0% {
            transform: scaleX(1);
        }

        100% {
            transform: scaleX(0);
        }
    } 

}
@media screen and (min-width: 768px){
    .Ch1{
        height: 200px;

    }
    .Th1{
        font-size: 45px;
    }
    .subtitle{
        font-size: 25px;
    }
    .liSkill1{
        margin-left: 0;
    }
    .liSkill2{
        margin-left: 10px;
    }
    .titleWhatIDo{
        font-size: 15px;
    }
    .loremWhatIDo{
        font-size: 13px;
    }
    .skills2{
        margin: 0;
    }
    .divLangueageUse{
        width: 620px;
    }
    .titleLanguage{
        font-size: 15px;
    }
    .pProsent{
        font-size: 11px;
    }
    .lineBacround{
        width: 620px;
    }
    .lineProsent1{
        width: 99.5%;
    }
    .lineProsent2{
        width: 85%;
    }
    .lineProsent3{
        width: 80%;

    }.lineProsent4{
        width: 75%;

    }.lineProsent5{
        width: 75%;

    }.lineProsent6{
        width: 50%;
    }
}
@media screen and (min-width: 1112px){
    .Ch1{
        height: 229px;
        background: #252525;
        display: flex;
        align-items: center;
    }
    .Th1{
        font-size: 55px;
    }
    .Cskills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
    }
    .skills1{
        margin-left: 50px;
    }
    .subtitle{
        font-size: 28px;
    }
    .liSkill2{
        margin-left:0;
    }
    .liSkill3{
        margin-left:0;
    }
    .titleWhatIDo{
        font-size: 18px;
    }
    .loremWhatIDo{
        font-size: 16px;
        min-width: 400px;
        max-width: 620px;
    }
    .liLangueage{
        margin-top: 32px;
    }
    .liLangueageShow{
        margin-top: 32px;
    }
    .titleLanguage{
        font-size: 18px;
    }
    .pProsent{
        font-size: 14px;
    }
    .lineBacround{
        width: 620px;
    }
}
@media screen and (min-width: 1235px){
    .liLangueage{
        margin-top: 15px;
    }
    .liLangueageShow{
        margin-top: 15px;
    }
}